/* ---------------------------------------- */
/* ==          VARIABLES             */
/*---------------------------------------- */

$primary-color: #ff0101;

$font-size: (
  desktop: 1rem,
);

$breakpoints: (
  desktop: 1440px,
);
